<title>
    Bill Records
</title>

<h2>Records</h2>

<table>
    <tr>
        <td>Bill</td>
        <td>Time</td>
        <td>Price</td>
    </tr>
    <tr>
        <td>call</td>
        <td>sms</td>
        <td>total</td>
    </tr>
</table>